@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<select class="custom-select" @bind="@selected">
    <Enumerator Items="@components">
        <option value="@context.typeName">@context.OptionName</option>
    </Enumerator>
</select>
@if (string.IsNullOrWhiteSpace(selected) is not true)
{
    <div class="p-3">
        <ComponentView @key="@selected" TypeString="@selected" Values="@Values" />
    </div>
}
