@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<select class="custom-select mt-3" @bind="@optionId">
    <Enumerator Items="@ComponentMaps">
        <option value="@context.Id">@context.DisplayName</option>
    </Enumerator>
</select>
@if (optionId is not null)
{
    <div class="p-3">
        <ComponentView @key="@optionId" TypeString="@typeName" Values="@Values" />
    </div>
}

<DecisionNodeViewer />